@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@using IdentityTesting.Models.ViewModels
@model IEnumerable<ProjPropDisplayVM>

    @{
    ViewData["Title"] = "Supervised Proposals";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table" id="woopwoop">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProjectTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProposalStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DomainID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupervisorID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Evaluator1ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Evaluator2ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjSemester)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjSession)
            </th>

            <th>
               
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProposalStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DomainName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupervisorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Evaluator1Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Evaluator2Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjSemester)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjSession)
            </td>
            <td>
                <a asp-action="ViewProposal" asp-route-id="@item.ID">View Proposal</a> |
                @if (item.EvalAssess == false)
                {
                    <a asp-action="SupeComment" asp-route-id="@item.ID">Leave Comment</a> 
                }
                
            </td>
        </tr>
}
    </tbody>
</table>
